.about-page-container {
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.creator-section1 {
  max-height: 600px;
  min-height: 600px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.creator-section2,
.creator-section3,
.creator-section6 {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  & > * > h1 {
    font-size: 2.5rem;
    font-family: cursive;
  }
  & > * > p {
    font-family: cursive;
    padding-left: 10px;
    font-size: 1.5rem;
    text-align: left;
  }
}

.creator-section4 {
  width: 50%;
  height: 100%;
  max-height: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.creator-section5 {
  width: 50%;
  height: 100%;
  max-height: 600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.about-page-header {
  background-size: cover;
  height: 100vh;
  width: 100%;
  & > div {
    @include for-normal-layout {
      padding-left: 0 !important;
      text-align: center;
    }
    padding-top: 330px;
    padding-left: 300px;
    font-family: Yanone-Regular;
    font-size: 4rem;
    color: white;
  }
  & > p {
    @include for-normal-layout {
      padding-left: 0 !important;
      text-align: center;
    }
    padding-left: 300px;
    color: white;
    font-family: lobster;
    font-size: 1.5rem;
  }
}

.creator-section2 img,
.creator-section3 img,
.creator-section6 img {
  padding-top: 15px;
  padding-left: 15px;
  width: 27rem;
  height: 25rem;
  border-radius: 50%;
  float: left;
}

.social-media {
  bottom: 0;
  position: absolute;
  left: 0;
  & > button {
    cursor: pointer;
    margin-left: 6rem;
    margin-bottom: 20px;
  }
}
