.board-page-container {
  h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
  }
}

.board-container {
  max-width: 250px;
  cursor: pointer;
  margin: 10px;

  h4 {
    text-align: center;
  }
  img {
    width: 250px;
    height: 160px;
    transition: all ease 0.4s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.add-board-btn {
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  color: #172b4d;
  display: table-cell;
  height: 80px;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.781);
  }
}

.boards-container {
  flex-wrap: wrap;
}
