.board-page-container {
  h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
  }
}

.board-container {
  position: relative;
  background-color: #000;
  max-width: 230px;
  cursor: pointer;
  margin: 10px;
  border-radius: 3px;

  h4 {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    z-index: 20;
    color: #fff;
    top: 7px;
    left: 9px;
  }
  img {
    width: 230px;
    height: 100px;
    transition: all ease 0.4s;
    border-radius: 3px;
    opacity: 0.9;
    &:hover {
      opacity: 0.8;
    }
  }
  div {
    opacity: 0.9;
    &:hover {
      opacity: 0.8;
    }
  }
}

.add-board-btn {
  background-color: rgba(9, 30, 66, 0.06);
  border: none;
  color: #172b4d;
  height: 100px;
  width: 230px;
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba(9, 30, 66, 0.15);
  }
}

.boards-container {
  flex-wrap: wrap;
}
