.dash-container{
    margin-left: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    
    .dash-title{
        font-size: 50px;
        text-decoration-line: underline;
    }
    .dash-sub-title{
        font-size: 25px;
        margin: 0px 0 9px;
    }
}
