.home-page-header-hero {
  @include for-middle-layout {
    background-size: contain;
    height: initial;
  }
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  align-items: flex-start;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  @include for-mobile-layout {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
}

.homepage-hero {
  @include for-normal-layout {
    margin-top: 3rem;
  }
  @include for-mobile-layout {
    background: #0000003d;
  }
  margin-top: 14rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 5px;
  color: white;
  margin-left: 19px;
  max-width: 207px;
  text-align: center;
}

.homepage-btn {
  @include for-mobile-layout {
    margin-bottom: 25px;
  }
  margin-bottom: 100px;
  margin-left: 49px;
  margin-top: 11px;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  font-weight: 400;
  outline: none;
  text-align: center;
  user-select: none;
  line-height: 17px;
  background-color: #ff0476;
  color: #fff;
  font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  outline: none;
  font-size: 16px;
  transition: all ease 0.4s;
  &:hover {
    opacity: 0.85;
  }
}

.dnd-seciton-img,
.dnd2-seciton-img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 60vh;
  width: 50%;
  @include for-middle-layout {
    min-width: 500px;
    min-height: 300px;
    height: initial;
  }
  @include for-mobile-layout {
    min-width: 316px;
    min-height: 183px;
    height: initial;
  }
}

.dnd-section {
  @include for-middle-layout {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 30px;
  }
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9f9 !important;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  & > div {
    width: 50%;
  }
  & > img {
    width: 50%;
  }
}

.dnd-section-desc {
  @include for-middle-layout {
    padding-bottom: 30px;
  }
  align-items: center;
  & > h2 {
    font-size: 2.6rem;
    margin-top: 20px;
    font-weight: 700;
    @include for-mobile-layout {
      font-size: 1.6rem;
    }
  }
  & > div {
    margin-top: 10px;
    max-width: 500px;
    text-align: center;
    line-height: 27px;
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    @include for-mobile-layout {
      font-size: 0.9rem;
    }
  }
}

.socket-seciton-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  @include for-middle-layout {
    min-width: 500px;
    min-height: 300px;
    height: initial;
  }
  @include for-mobile-layout {
    min-width: 316px;
    min-height: 103px;
    height: initial;
  }
}

.socket-section {
  @include for-middle-layout {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  box-sizing: border-box;
  width: 100%;
  background-color: #fff !important;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 20px;
  & > img {
    width: 50%;
  }
}

.socket-section-desc {
  @include for-middle-layout {
    padding-bottom: 30px;
  }
  width: 50%;
  align-items: center;
  padding-right: 20px;
  & > h2 {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 700;
    @include for-mobile-layout {
      font-size: 1.6rem;
    }
  }
  & > div {
    margin-top: 20px;
    max-width: 500px;
    text-align: center;
    line-height: 27px;
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    @include for-mobile-layout {
      font-size: 0.9rem;
    }
  }
}
