.homepage-container {
  width: 100vw;
  height: 100vh;
  background: url(https://hdwallpapers.imgix.net/wallpaper-36301569469674licrvzzia8.jpg?auto=compress&cs=tinysrgb&dpr=1) no-repeat center center fixed;
  background-size: cover;
}
