.task-modal-container {
  width: 750px;
  height: 570px;
  overflow: auto;
  background-color: #f4f5f7;
  margin: auto;
  border-radius: 4px;
  cursor: default;
  position: relative;
  padding: 15px 0px 15px 40px;

  .icon-window {
    position: absolute;
    left: 12px;
    top: 20px;
    font-size: 17px;
    color: #42526e;
  }

  .icon-cross {
    position: absolute;
    right: 18px;
    top: 13px;
    font-size: 15px;
    color: #42526e;
    cursor: pointer;
    z-index: 15;
    padding: 5px;
  }

  .modal-txt {
    color: #41516e;
    font-weight: bold;
    min-width: 200px;
    font-family: montserrat, sans-serif;
    cursor: text;

    &:focus {
      background: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}

.widow-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  cursor: pointer;
}
