.trello-page-container {
  background: url(https://wallpaperplay.com/walls/full/1/b/1/289383.jpg);
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
}


//  /* width */
//  .trello-page-container ::-webkit-scrollbar {
//     width: 15px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: transparent; 
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888; 
//     border-radius: 10px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }