
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-family: montserrat, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: rem(60px);
    margin-bottom: rem(20px);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}