.icon-plus:before {
    font-family: iconmoon;
    content: "\ea0a";
  }
  .icon-paint-format:before {
    font-family: iconmoon;
    content: "\e90c";
  }
  .icon-bin:before {
    font-family: iconmoon;
    content: "\e9ac";
  }
  .icon-cross:before {
    font-family: iconmoon;
    content: "\ea0f";
  }
  .icon-dots-three-horizontal:before {
    font-family: iconmoon;
    content: "\e900";
  }
  .icon-window:before {
    font-family: iconmoon;
    content: "\e901";
  }
  .icon-paragraph-left:before {
    font-family: iconmoon;
    content: "\ea77";
  }
  .icon-message:before {
    font-family: iconmoon;
    content: "\e903";
  }
  .icon-clone:before {
    font-family: iconmoon;
    content: "\e908";
  }
  .icon-trash:before {    
    font-family: iconmoon;
    content: "\e906";
  }
  .icon-people_alt:before {
    font-family: iconmoon;
    content: "\e905";
  }
  .icon-label:before {
    font-family: iconmoon;
    content: "\e904";
  }
  .icon-input-checked:before {
    font-family: iconmoon;
    content: "\e907";
  }
  .icon-clock:before {
    font-family: iconmoon;
    content: "\e94e";
  }
  .icon-image:before {
    font-family: iconmoon;
    content: "\e90d";
  }
  .icon-color_lens:before {
    font-family: iconmoon;
    content: "\e909";
  }
  .icon-arrow-left2:before {
    font-family: iconmoon;
    content: "\ea40";
  }
  .icon-user:before {
    font-family: iconmoon;
    content: "\e971";
  }

  .icon-pencil2:before {
    font-family: pencil;
    content: "\e906";
  }