.icon-plus:before {
    font-family: iconmoon;
    content: "\ea0a";
  }
  .icon-paint-format:before {
    font-family: iconmoon;
    content: "\e90c";
  }
  .icon-bin:before {
    font-family: iconmoon;
    content: "\e9ac";
  }
  .icon-cross:before {
    font-family: iconmoon;
    content: "\ea0f";
  }
  .icon-dots-three-horizontal:before {
    font-family: iconmoon;
    content: "\e900";
  }
  .icon-window:before {
    font-family: iconmoon;
    content: "\e901";
  }
  .icon-paragraph-left:before {
    font-family: iconmoon;
    content: "\ea77";
  }
  .icon-message:before {
    font-family: iconmoon;
    content: "\e903";
  }