.icon-plus:before {
    font-family: iconmoon;
    content: "\ea0a";
  }
  .icon-paint-format:before {
    font-family: iconmoon;
    content: "\e90c";
  }
  .icon-bin:before {
    font-family: iconmoon;
    content: "\e9ac";
  }
  .icon-cross:before {
    font-family: iconmoon;
    content: "\ea0f";
  }