// @font-face {
//     font-family: caveat;
//     src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }
@font-face {
  font-family: lobster;
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: iconmoon;
  src: url(../../fonts/icomoon/fonts/icomoon.ttf);
}

@font-face {
  font-family: DancingScript-Bold;
  src: url(../../fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}

@font-face {
  font-family: DancingScript-Medium;
  src: url(../../fonts/Dancing_Script/static/DancingScript-Medium.ttf);
}

@font-face {
  font-family: DancingScript-Regular;
  src: url(../../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}

@font-face {
  font-family: EBGaramond-Regular;
  src: url(../../fonts/EB_Garamond/static/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: GreatVibes-Regular;
  src: url(../../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: ShadowsIntoLight-Regular;
  src: url(../../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

@font-face {
  font-family: Yanone-Regular;
  src: url(../../fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
  font-family: ZhiMangXing;
  src: url(../../fonts/Zhi_Mang_Xing/ZhiMangXing-Regular.ttf);
}
