.task-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  max-width: 255px;
  min-height: 32px;
  margin: 0 auto 8px;

  .task-title {
    font-size: 14px;
    color: #41516e;
    padding: 0px 9px;
    line-height: 31px;
    height: 23px;
  }

  .members-container {
    padding: 4px 7px 3px;

    .member-name-initials {
      float: initial;
      height: 28px;
      width: 28px;
      line-height: 28px;
      margin: 4px 4px 4px 0;
    }
  }

  .labels-container {
    padding: 0 8px;
  }

  &:hover {
    background-color: #e1e2e6;
  }
}
.drag-task{
  margin: 8px auto;
  //transition: linear all 0.2s;
  //transform: rotate(45deg);
}
