.add-task-container {
    font-size: 14px;
    padding-left: 10px;
    color: #6b778c;
    border-radius: 4px;
    cursor: pointer;
    max-width: 255px;
    min-height: 31px;
    margin: 0px auto 8px;
    line-height: 33px;

    &:hover {
        background-color: rgba(9,30,66,.08);
        color: #455879;
    }

    .icon-plus{
        font-size: 10px;
        margin-right: 2px;
    }
}