.task-color-container {
  position: relative;
  .color-modal {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 18rem;
    border-radius: 5px;
    margin-top: 8px;
  }
  button {
    color: #172b4d;
    background-color: #eaecf0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    margin-top: 8px;
    padding: 6px 65px 6px 33px;
    position: relative;
    outline: none;
  }

  h3 {
    text-align: center;
    padding-bottom: 0.3rem;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  }

  .color-modal-header {
    .close-btn-container {
      .icon-cross {
        font-size: 11px;
        top: 6px;
        right: 11px;
      }
    }
  }
}
