.modal-sidebar-container {
  width: 25%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  text-align: left;
  & h3 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: -4px;
    font-weight: 600;
  }
}

.tool-bar,
.action-bar {
  padding-bottom: 5px;
  height: 200px;
  padding-top: 4px;

  & > button {
    text-align: left;
    color: #172b4d;
    background-color: #eaecf0;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: ease all 0.2s;
    outline: none;

    &:hover {
      outline: none;
      opacity: 0.9;
      color: #091e42;
      background: #e2e4e9;
    }
    &:active {
      background-color: #e4f0f6;
      box-shadow: none;
      border: none;
      color: #0079bf;
    }
  }
}

.members-modal-input {
  & > input {
    -webkit-appearance: none;
    outline: none;
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 8px 12px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    &:focus {
      background: #fff;
      border: none;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}

.members-modal {
  text-align: left;
  position: fixed;
  width: 20rem;
  background: white;
  z-index: 9999;
  border-radius: 5px;
  margin-top: 8px;
}

.members-modal-input > h3 {
  text-align: center;
  padding-bottom: 0.3rem;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
}

.close-member-modal {
  position: absolute;
  right: 14px;
  top: 3px;
  cursor: pointer;
}

// members on the tool-bar //

.members-list-modal {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  & > h3 {
    padding-bottom: 6px;
  }
}

// single member on tool-bar//
.side-modal-member {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  cursor: pointer;
  border-radius: 3px;
  display: block;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 4px;
  background-color: rgba(9, 30, 66, 0.04);
  padding-left: 10px;
  &:hover {
    color: #091e42;
    opacity: 0.9;
  }
}

.members-on-task-title {
  margin-top: -30px;
  color: #172b4d;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-top: 16px;
  text-transform: uppercase;
  display: block;
  line-height: 20px;
  margin: 0 8px 4px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.members-on-task {
  flex-wrap: wrap;
}

.member-name-initials {
  background-color: #dfe1e6;
  border-radius: 25em;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  line-height: 33px;
  margin: 4px 8px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
  font-size: 12px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  &:hover {
    background-color: #c1c7d0;
  }
}
