.checklist-container {
  width: 445px;
  margin-bottom: 13px;

  .add-todo-btn {
    color: #172b4d;
    background-color: #eaecf0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    margin: 6px 0 2px 0;
    padding: 6px 13px;
    position: relative;
    transition: ease all 0.2s;
    outline: none;

    &:hover {
      opacity: 0.9;
      color: #091e42;
      background: #e2e4e9;
    }
  }
}

.add-todo-form {
  .add-todo-txt {
    background-color: #fafbfc;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    margin: 0;
    margin: 0px;
    padding: 6px 8px;
    font-size: 13px;
    color: #172b4d;

    &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}

.checklist-header {
  margin-bottom: 10px;
}