.bg-gallery {
  overflow-y: scroll;
  height: 80vh;
}

.board-background-select {
    border-radius: 10px;
    display: inline-block;
    width: 48%;
    min-height: 91px;
    cursor: pointer;
    z-index: 1;
    transition: ease-out 0.2s all;
    margin: 3px 3px -3px;

  &:hover {
    opacity: 0.9;
  }
}

