.main-button {
  background-color: #8b7ca5;
  box-shadow: none;
  border: none;
  color: #fff;
  width: 79px;
  height: 29px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.menu-button:hover {
  background: rgba(241, 243, 244, 0.24);
}

.menu-button {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 4px;
  background-color: #ebecf0b3;
  border-radius: 4px;
  height: auto;
  min-height: 32px;
  font-size: 14px;
  padding-left: 10px;
  color: #41516e;
  padding: 6px 8px;
  cursor: pointer;
  margin-top: 63px;
}

// .menu-button::before {
// }
