.menu {
  margin-top: 70px;
  top: 0;
  right: 0;
  position: fixed;
  width: 200px;
  height: 100vh;
  background: rgb(97, 96, 96);
  box-sizing: border-box;
  padding: 12px 6px 12px 12px;
  transition: ease 0.4s all;
}

.menu-on {
  transform: translate(100%, 0);
}

.menu-off {
  transform: translate(0%, 0);
}

.exit-menu {
  float: right;
  cursor: pointer;
  color: black;
}
