.menu {
  margin-top: 70px;
  top: 0;
  right: 0;
  position: fixed;
  width: 400px;
  height: 100vh;
  background: #f4f5f7;
  box-sizing: border-box;
  padding: 12px 6px 12px 12px;
  transition: ease 0.4s all;
}

.menu-on {
  transform: translate(100%, 0);
}

.menu-off {
  transform: translate(0%, 0);
}

.exit-menu {
  float: right;
  cursor: pointer;
  color: black;
}

.menu-options {
  width: 100%;
}

.menu-options img {
  transition: 0.2 ease all;
  cursor: pointer;
  padding: 2px;
  width: 50%;

  &:hover {
    opacity: 0.9;
  }
}

.choose-options {
  font-size: 1.1rem;
  font-family: cursive;
  text-align: center;
}

.menu-description {
  font-family: cursive;
}

.goback-menu {
  cursor: pointer;
}
