.link-container{
    width: 104px;
    height: 70px;
    line-height: 70px;
    text-align: center;

    a{
        font-size: 21px;
        color: #090909bd;;
    }

    &:hover{
        background-color: #8f8f8f1f;
    }
}
