.modal-header {
  margin: 0px 265px 10px 0;
  min-height: 32px;

  .title {
    font-size: 21px;
    padding: 0 10px;
    border-radius: 4px;
  }

  .small-title {
    color: #616c80c2;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 185px;
    height: 1.2em;
    white-space: nowrap;
    
    small {
      
      font-size: 12px;
      padding-left: 10px;

      .bottom-line {
        text-decoration-line: underline;
      }
    }
  }
}
