.topic-container {
    background-color: #ebecf0;
    border-radius: 3px;
    max-height: 100%;
    width: 272px;
    margin: 0 4px;

    .topic-header{
        height: 40px;
        padding: 9px;
        font-weight: 600;
        color: #41516e;
        font-size: 14px;
    }
}