.topic-container {
  background-color: #ebecf0;
  border-radius: 3px;
  max-height: 100%;
  min-width: 272px;
  margin: 0 4px;
  position: relative;
  padding-bottom: 41px;

  .topic-header {
    font-weight: 600;
    color: #41516e;
    font-size: 14px;
    padding: 8px 3px 8px 9px;

    .topic-title {
      width: 232px;
      border-radius: 4px;
      min-height: 14px;
      padding: 5px 6px;
      word-break: break-all;

      &:focus {
        background: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
        outline: none;
      }
    }

    .dots-icon-container {
      width: 32px;
      height: 32px;
      padding: 3px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
      }
    }

    .icon-dots-three-horizontal {
      font-size: 15px;
    }
  }

  .topic-mini-menu{
    z-index: 2;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    padding: 7px;
    width: 80px;
    height: 70px;
    right: -50px;
    top: 30px;

    .delete-topic-btn{
        font-size: 14px;

        &:hover{
            background-color: rgba(9, 30, 66, 0.08);
        }
    }
  }
}
