// Colors
$clr1: #41516e;
$clr2: #8b7ca5;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 770px;
$normal-breakpoint: 1020px;
